body, input, button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  button {
    border-radius: 30%;
    height: 90px;
    width: 90px;
    text-align: center;
  }
  
  button:hover {
    background: green;
    cursor: pointer;
  }
  
  button:active {
    background: blue;
  }
  
  header{
    font-size: 2.5em;
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: blueviolet;
  }
  
  input {
    background: #F8F8F8;
    width: 70px;
    border-radius: 6px;
    border: 1px solid #C6C6C6;
  }
  
  .card{
      background-color: black;
      max-width: 60%;
      min-width: 300px; 
      height: 300px;
      margin: auto;
      padding: 25px;
      margin-top: 15vh;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
  
  }
  
  .spacing{
    margin: 15px;
    color: #F8F8F8;
  }
  
  .temp-fields{
    display: inline-block;
  }
  
  .wrapper{
    max-width: 960px;
    margin: auto;
  }
  #reset{
    background-color: red;
  }